@page "/"
@rendermode InteractiveServer

@using FavoriteBooksApp.State
@inject ApplicationState applicationState

<PageTitle>The Book Nook</PageTitle>

<Login></Login>

<h1>The Book Nook</h1>
<h2>See what's trending now</h2>

<table> 
    <thead>
        <tr>
            <th>  </th>
            <th> Title </th>
            <th> Author </th>
            <th> Total Favorites </th>
            <th> Favorited By </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Books)
        {
            <tr>
                <td> <img src="@($"Images/{book.ImageName}.jpg")" /> </td>
                <td> @book.Title </td>
                <td> @book.Author </td>
                <td> @book.TotalFavorites </td>
                <td> @for(int i = 0; i < book.FavoritedBy.Count; i++)
                    {
                        // TODO: Simplify this logic for adding a comma
                        if(i < book.FavoritedBy.Count - 1)
                        {
                            <p> user.Username </p>
                        }
                        else
                        {
                            <p> user.Username, </p>
                        }
                    } 
                </td>
                <td>
                    <button @onclick=@(() => Favorite(book.Id, applicationState.UserId))> Favorite </button>
                </td>
            </tr>
        }
    </tbody>
</table>


