@page "/"

<PageTitle>The Book Nook</PageTitle>

<h1>The Book Nook</h1>
<h2>See what's trending now</h2>

<table> 
    <thead>
        <tr>
            <th>  </th>
            <th> Title </th>
            <th> Author </th>
            <th> Total Favorites </th>
            <th> Favorited By </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Books)
        {
            <tr>
                <td> <img src="@($"Images/{book.ImageName}.jpg")" /> </td>
                <td> @book.Title </td>
                <td> @book.Author </td>
                <td> @book.TotalFavorites </td>
                <td> @foreach(var user in book.FavoritedBy)
                    {
                        <p> user.Username </p>
                    } 
                </td>
            </tr>
        }
    </tbody>
</table>


